<h1><%= @cohort.name %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Late</th>
    <th>Excused</th>
    <th>Unexcused</th>
  </tr>
    <% @yesterday_late.each do |late| %>
  <tr>
    <td><%= link_to late.student.name, student_path(late.student) %></td>
    <td>x</td>
    <td> </td>
    <td> </td>
    <td><%= button_to "Edit", edit_student_attendance_path(late.student, late), method: "get" %></td>
    <td><%= button_to "Delete", attendance_path(late), method: "delete" %></td>
  </tr>
    <% end %>
    <% @yesterday_excused.each do |excused| %>
  <tr>
    <td><%= link_to excused.student.name, student_path(excused.student) %></td>
    <td> </td>
    <td>x</td>
    <td> </td>
    <td><%= button_to "Edit", edit_student_attendance_path(excused.student, excused), method: "get" %></td>
    <td><%= button_to "Delete", attendance_path(excused), method: "delete" %></td>
  </tr>
    <% end %>
    <% @yesterday_unexcused.each do |unexcused| %>
  <tr>
    <td><%= link_to unexcused.student.name, student_path(unexcused.student) %></td>
    <td> </td>
    <td> </td>
    <td>x</td>
    <td><%= button_to "Edit", edit_student_attendance_path(unexcused.student, unexcused), method: "get" %></td>
    <td><%= button_to "Delete", attendance_path(unexcused), method: "delete" %></td>
  </tr>
    <% end %>
</table>


