<h1><%= @cohort.name %></h1>

<%= button_to "Home", @home , method: "get" %>


<%= link_to "Yesterday", cohort_calendar_path(@cohort, :date => Date.today - 1) %>
<%= link_to "Today", cohort_calendar_path(@cohort, :date => Date.today) %>
<h3>Attendance for <%= @date.strftime("%A, %b %d %Y") %></h3>
<table>
  <tr>
    <th>Name</th>
    <th>Late</th>
    <th>Excused</th>
    <th>Unexcused</th>
  </tr>
    <% @late.each do |late| %>
  <tr>
    <td><%= link_to late.student.name, student_path(late.student) %></td>
    <td>x</td>
    <td> </td>
    <td> </td>
    <td><%= button_to "Edit", edit_student_attendance_path(late.student, late), method: "get" %></td>
    <td><%= button_to "Delete", attendance_path(late), method: "delete" %></td>
  </tr>
    <% end %>
    <% @excused.each do |excused| %>
  <tr>
    <td><%= link_to excused.student.name, student_path(excused.student) %></td>
    <td> </td>
    <td>x</td>
    <td> </td>
    <td><%= button_to "Edit", edit_student_attendance_path(excused.student, excused), method: "get" %></td>
    <td><%= button_to "Delete", attendance_path(excused), method: "delete" %></td>
  </tr>
    <% end %>
    <% @unexcused.each do |unexcused| %>
  <tr>
    <td><%= link_to unexcused.student.name, student_path(unexcused.student) %></td>
    <td> </td>
    <td> </td>
    <td>x</td>
    <td><%= button_to "Edit", edit_student_attendance_path(unexcused.student, unexcused), method: "get" %></td>
    <td><%= button_to "Delete", attendance_path(unexcused), method: "delete" %></td>
  </tr>
    <% end %>
</table>


