<h1><%= @cohort.name %></h1>
Instructors:
<% @cohort.instructors.each do |instructor| %>
  <%= instructor.name %>
<% end %>


<ul>
  <% total= @cohort.students.each do |student| %>
   <li>
      <%= student.name %> - Late: <%= student.count_lateness %>, Unexcused: <%= student.count_unexcused %>, Excused: <%= student.count_excused %>, Total Absences: <%=student.total_absences %>
      <!-- cohort_student_attendances -->
      <!-- POST /cohorts/1/students/2/attendances -->

      <%= form_for([@cohort, student, student.attendances.new]) do |f| %>
        <%= f.submit "Late" %>
      <% end %>

      <%= form_for([@cohort, student, student.attendances.new]) do |f| %>
        <%= f.submit "Unexcused" %>
      <% end %>

      <%= form_for([@cohort, student, student.attendances.new]) do |f| %>
        <%= f.submit "Excused" %>
      <% end %>
   </li>
  <% end %>

<%= total.students %>


</ul>
