
<div class = "logout">
  <%= button_to "Logout", '/sessions', method: "delete" %>
  <br /><%= button_to "Back", :back %><br />
</div>


<h1><%= @cohort.name %></h1>



Instructors: <br />
<% @cohort.instructors.each do |instructor| %>
  <%= instructor.name %><br />
<% end %>
<%= button_to "Calendar View", cohort_calendar_path(@cohort), method: "get" %>


<br /> <br />
<% c1_attendance = [] %>
<% Cohort.first.students.each do |s| %>
  <% c1_attendance << s.attendances  %>
<% end %>

Total Class Absences:   <%= c1_attendance.flatten.count %>





<ul class="unordered-list-of-students">
  <% total= @cohort.students.each do |student| %>
   <li>
      <%= student.name %> - Late: <%= student.count_lateness %>, Unexcused: <%= student.count_unexcused %>, Excused: <%= student.count_excused %>, Total Absences: <%=student.total_absences %><br />

      <div class="absences">
      <%= form_for([@cohort, student, student.attendances.new]) do |f| %>
        <%= f.submit "Late" %>
      <% end %>
      </div>

      <div class="absences">
      <%= form_for([@cohort, student, student.attendances.new]) do |f| %>
        <%= f.submit "Unexcused" %>
      <% end %>
      </div>

      <div class="absences">
      <%= form_for([@cohort, student, student.attendances.new]) do |f| %>
        <%= f.submit "Excused" %>
      <% end %>
      </div>

      <br /><br />
   </li>
  <% end %>
</ul>
