<h1>Edit this student's information:</h1>

<%= form_for @student do |f| %>
  <%= f.label :name, "Name" %>:
  <%= f.text_field :name %><br>
  <%= f.label :email, "Email" %>:
  <%= f.text_field :email %><br>
  <%= f.label :cohort_id, "Cohort" %>:
  <%= f.text_field :cohort_id %><br>
  <%= f.label :password, "Password" %>:
  <%= f.text_field :password %><br>
<% end %>


