<!DOCTYPE html>
<html>
<head>
  <title>WdiAttendance</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= button_to "Logout", '/sessions', method: "delete" %>
<br /><%= button_to "Back", :back %><br />

<%= yield %>
 <%= javascript_include_tag 'application' %>
</body>
</html>
