<!DOCTYPE html>
<html>
<head>
  <title>WdiAttendance</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/0.4.2/sweet-alert.css">
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <img class="logo" src="http://blog.generalassemb.ly/blog/wp-content/uploads/2014/03/generalassembly-open-graph.png">

      <ul class="navbar-list">
        <%if @current_user %>
          <li class="navbar-item">
            <%= link_to "Logout", '/sessions', method: "delete", class: 'navbar-link' %>
          </li>
          <li class="navbar-item">
            <%= link_to "Home", @home , method: "get", class: "navbar-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>


    <!-- .container is main centered wrapper -->
    <div class="container main">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/0.4.2/sweet-alert.min.js'></script>
</body>
</html>
