<!DOCTYPE html>
<html>
<head>
  <title>WdiAttendance</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <img src="https://generalassemb.ly/assets/ga-lockup-1788582934ade008a8ea6068b784b8ee.png">
  <%= button_to "Logout", '/sessions', method: "delete" %>
  <br /><%= button_to "Back", :back %><br />


<%= yield %>
 <%= javascript_include_tag 'application' %>
</body>
</html>
